body{
    font-family: 'Abel', sans-serif;
    background: #7B7675
}
section{
    background: #FDFBFA
}
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }