body{
    background: #7B7675
}
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}